@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    color: #333333; 
}
h1{
    font-family: 'ELEPHANT';
}
.logo{
    width: 100px;
}
#imgWhite{
    display: none;
}
.btn{
    padding: 10px 10%;
    background: snow;
    color: #333333;
    border: 2px solid #333333;
    transition: .5s all;
    border-radius: 0;
}
.btnE{
    background: transparent;
    color: snow;
    border: 2px solid white;

}
.btnE2{
    background: transparent;
    color: #333333;
    border: 2px solid #333333;

}
.btn:hover{
    /* box-shadow: .5px 5px 15px rgba(0, 0, 0, .5); */
    background: #333333;
    color: lavender;
}
.btnE:hover{
    background: white;
    color:  #333333;
}
.btnE2:hover{
    background: #333333;
    color:  white;
}
.carousel img{
    width: 100%;
}
.nav{
    z-index: 99;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    transition: .5s all;
}

.nav a:hover{
    text-decoration: none;
}
.crd{
    padding: 10px;
}
.portfolio img{
    width: 100%;
    transition: .5s all;
    border-radius: 5px;
}
.portfolio h1{
    margin-bottom: 2vh;
}
.portfolio h4{
    

}
.portfolio img:hover{
    width: 90%;
    transition: .5s all;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: .5px 6px 10px rgba(0, 0, 0, .8);
}
.brands{
    padding-top: 15vh;
    padding-bottom: 15vh;
}
.brands img{
    transition: .5s all;
    width: 100%;
    /* background: rgb(126, 183, 236); */
}
.brands .imgContainer{
    padding:20px;
    transition: .5s all;
    border-radius: 0px;
    background: rgb(255, 255, 255);
    height: 100%;
    border-radius:50%;
    box-shadow: .5px 2px 10px rgba(0, 0, 0, .8);
    overflow: hidden;
}
.brands .malbar{
    background: #7b0b4a;
}
.brands .bs{
    background: black;
}
.brands .imgContainer:hover{
    /* transform: rotate(10deg); */
    /* border: 4px solid rgb(32, 32, 32); */
    /* border-radius: 10px; */
    /* background: rgb(160, 241, 237); */
    /* background: rgb(232, 175, 255); */
    box-shadow: 0px 0px 0px;
    transition: .5s all;
    cursor: pointer;
}
.brands h1{
    margin-bottom: 10vh;
}

.instagram img{
    width: 100%;
    transition: .5s all;
    border-radius: 5px;
}
.instagram h4{
    margin-bottom: 10vh;

}
.instagram img:hover{
    width: 90%;
    transition: .5s all;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: .5px 6px 10px rgba(0, 0, 0, .8);
}

.stories img{
    width: 100%;
    transition: .5s all;
    border-radius: 5px;
}
.stories h1{
    margin-bottom: 10vh;
}
.stories h4,h5{
}
.stories img:hover{
    width: 90%;
    transition: .5s all;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: .5px 6px 10px rgba(0, 0, 0, .8);
}
.stories .btn{
    border: 2px solid black;
    font-family: 'Kanit', sans-serif;
}
.footer{
    background: #836953 ;
    color: snow;
}
.footer img{
    width: 100%;
    transition: .5s all;
    border-radius: 5px;
}
.footer h4,h5{

}
.footer .btn{
    border: 1px solid #333333;

    padding: 10px 3% ;
}
.footer .btn:hover{
    /* border-radius: 5px; */
}
.classfinal{
    background: #302f2f;
    color: snow;
    transition: .5s all;
}
.classfinal a{
    color: snow;    
}
.classinitial, .classinitial a{
    color: black;
    background: transparent;
    transition: .5s all;
}

.photography {
    margin-top: 20vh;
}
.photography h1{
    color: black;
}
.photography h1{
    text-decoration: none;
    list-style: none;
}
.photography img:hover{
    padding: 0;
    margin: 0;
}
.photography img{
    width: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:  #302f2f;
    /* border-radius: 10px; */
}
.navMob, .navMob a{
    display: none;
}

.sidenav {
    margin-top: 10vh;
    height: 90vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'Kanit', sans-serif;

  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #e7e7e7;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .footer2{
    background: black;
    color: snow;
}
  @media screen and (max-height: 720px) {
    .sidenav {padding-top: 10vh;}
    .sidenav a {font-size: 18px;}
  }
@media only screen and (max-width: 720px) {

    #nav a, #nav img, #nav, .classfinal, .classinitial{
        display: none;
        background: none;
    }
    #carouselExampleControls{
        margin-top: 10vh;
    }
    .navMob{
        display: block;
        z-index: 999;
        background:  #302f2f;
        
    }
    .navMob a{
        color: snow;
        display: block;
    }
  
    .brands .imgContainer{
        padding:15px;
        transition: .5s all;
        border-radius: 0px;
        background: rgb(255, 255, 255);
        height: 100px;
        width: 100px;
        border-radius:50%;
        box-shadow: .5px 2px 10px rgba(0, 0, 0, .8);
        overflow: hidden;
    }
    .brands .malbar{
        background: #7b0b4a;
    }
    .brands .bs{
        background: black;
    }
    .brands h1{
        margin-bottom: 5vh;
    }
    .instagram .crd{
        padding: 0;
    }
    .instagram img{
        margin-bottom: 25px;
    }
    .instagram img:hover{
        margin-top: 10px;
    }
    .portfolio h1, .stories h1, .instagram h1, .footer h1, .brands h1{
        font-size: 10vw;
    }
    .stories h4, .instagram h4, .footer h4,.portfolio h4{
        font-size: 4vw;
     }
     .stories h4{
         font-size: 8vw;
     }
     .footer{
         padding: 5vh 5%;
         text-align: center;
     }
     .footer .btn{
         padding: 15px 10%;
     }
    .photography h1{
        font-size: 10vw;
    }
}

.nav a{
    color: snow;
}